version: '3.4'

services:
  xwallet:
    image: xwallet
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 5000:5000
    volumes:
      - .:/app
    env_file:
      - .env
    links:
      - mongodb
  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017

